.datatable-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .p-datatable-custom .p-datatable-header {
    background-color: #343a40;
    color: #fff;
  }
  
  .p-datatable-custom .p-datatable-thead > tr > th {
    background-color: #007bff;
    color: #fff;
    text-align: center;
  }
  
  .p-datatable-custom .p-datatable-tbody > tr > td {
    text-align: center;
    padding: 10px;
  }
  
  .p-datatable-custom .p-datatable-tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .p-datatable-custom .p-datatable-tbody > tr:hover {
    background-color: #d1ecf1;
  }
  